<?xml version="1.0" encoding="ISO-8859-1"?>
    <!DOCTYPE web-app PUBLIC
    "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <servlet>
        <servlet-name>
            Dialogix
        </servlet-name>
        <servlet-class>
            org.dianexus.triceps.TricepsServlet
        </servlet-class>
        <init-param>
            <param-name>dialogix.dir</param-name>
            <param-value>@@DIALOGIX.DIR@@</param-value>
        </init-param>   
        <init-param>
            <param-name>scheduleSrcDir</param-name>
            <param-value>Wave6-clin/WEB-INF/schedules/</param-value>
        </init-param>
        <init-param>
            <param-name>workingFilesDir</param-name>
            <param-value>Wave6/WEB-INF/archive/suspended/</param-value>
        </init-param>
        <init-param>
            <param-name>completedFilesDir</param-name>
            <param-value>Wave6/WEB-INF/completed/</param-value>
        </init-param>
        <init-param>
            <param-name>imageFilesDir</param-name>
            <param-value>/images/</param-value>
        </init-param>
        <init-param>
            <param-name>helpIcon</param-name>
            <param-value>help_true.gif</param-value>
        </init-param>
        <init-param>
            <param-name>logoIcon</param-name>
            <param-value>ciclogo.gif</param-value>
        </init-param>
        <init-param>
            <param-name>floppyDir</param-name>
            <param-value>Wave6/WEB-INF/archive2/</param-value>
        </init-param>
        <init-param>
            <param-name>displayWorking</param-name>
            <param-value>true</param-value>
        </init-param>        
        
        <init-param>
            <param-name>LICENSE.STUDY_NAME</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
            <param-name>LICENSE.STUDY_ICON</param-name>
            <param-value></param-value>
        </init-param>	
        <init-param>
            <param-name>SUPPORT.PHONE</param-name>
            <param-value></param-value>
        </init-param>	
        <init-param>
            <param-name>SUPPORT.EMAIL</param-name>
            <param-value></param-value>
        </init-param>	
        <init-param>
            <param-name>SUPPORT.PERSON</param-name>
            <param-value></param-value>
        </init-param>        
        
    </servlet>
    
    <!-- Login (username / password / filename) -->   
  <resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/dialogix</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>    
  
  <!-- Define a Security Constraint on this Application -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Wave6 Clinical Followup</web-resource-name>
      <url-pattern>/servlet/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
       <role-name>Wave6clinician</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- Define the Login Configuration for this Application -->
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Wave6 Clinical Followup</realm-name>
  </login-config>     
</web-app>


