<?xml version="1.0" encoding="ISO-8859-1"?>
    <!DOCTYPE web-app PUBLIC
    "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <servlet>
        <servlet-name>
            Dialogix
        </servlet-name>
        <servlet-class>
            org.dianexus.triceps.LoginTricepsServlet
        </servlet-class>
        <init-param>
            <param-name>dialogix.dir</param-name>
            <param-value>@@DIALOGIX.DIR@@</param-value>
        </init-param>   
        <init-param>
            <param-name>scheduleSrcDir</param-name>
            <param-value>Wave6/WEB-INF/schedules/</param-value>
        </init-param>
        <init-param>
            <param-name>workingFilesDir</param-name>
            <param-value>Wave6/WEB-INF/working/</param-value>
        </init-param>
        <init-param>
            <param-name>completedFilesDir</param-name>
            <param-value>Wave6/WEB-INF/completed/</param-value>
        </init-param>
        <init-param>
            <param-name>imageFilesDir</param-name>
            <param-value>/images/</param-value>
        </init-param>
        <init-param>
            <param-name>helpIcon</param-name>
            <param-value>help_true.gif</param-value>
        </init-param>
        <init-param>
            <param-name>logoIcon</param-name>
            <param-value>ciclogo.gif</param-value>
        </init-param>
        <init-param>
            <param-name>floppyDir</param-name>
            <param-value>Wave6/WEB-INF/archive/</param-value>
        </init-param>
        <init-param>
            <param-name>displayWorking</param-name>
            <param-value>false</param-value>
        </init-param>
        
        <init-param>
            <param-name>LICENSE.STUDY_NAME</param-name>
            <param-value>Children in the Community: Wave 6</param-value>
        </init-param>
        <init-param>
            <param-name>LICENSE.STUDY_ICON</param-name>
            <param-value>/images/ciclogo.gif</param-value>
        </init-param>	
        <init-param>
            <param-name>SUPPORT.PHONE</param-name>
            <param-value>(800) 711-6350</param-value>
        </init-param>	
        <init-param>
            <param-name>SUPPORT.EMAIL</param-name>
            <param-value>cicp75@msn.com</param-value>
        </init-param>	
        <init-param>
            <param-name>SUPPORT.PERSON</param-name>
            <param-value>Field Office</param-value>
        </init-param>
      
    </servlet>
    
    <!-- Login (username / password / filename) -->   
   @@DB.COMMENT_START@@
  <resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/dialogix</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>    
   @@DB.COMMENT_END@@
</web-app>


